.neo-nav {
  img {
    width: 69px;
    object-fit: contain;
  }

  .fa-user-circle-o {
    &:before {
      font-size: xx-large;
      color: $brand-color-1;
    }
  }

  .userhere{
    border-bottom: 2px solid $brand-color-1;
  }
}