.schools {
  .tier1 {
    background-color: $brand-color-5;
  }

  .tier2 {
    background-color: $brand-color-3;
  }

  .tier3 {
    background-color: $brand-color-4;
  }

  .card-container {
    img {
      width: 100px;
      object-fit: contain;
    }
  }

  .table-container {
    .widthusers {
      width: 120px;
    }

    .fa {
      font-size: x-large;

      &:hover {
        background-color: lightgrey;
      }
    }

    input,
    select {
      border: none;
      background-color: lightgrey;
      font-size: smaller;
      width: 80%;
    }
  }
}