$brand-color-1: #4FA9DD;
$brand-color-2: #29AAE1;
$brand-color-3: #002E84;
$brand-color-4: #F30098;
$brand-color-5: #FF9E32;
$color-button: #F30098;
$color-button-hover: #da0f8c;
$color-button2: #4fa9dd;
$color-button-hover2: #1d9ce6;

