.login {
  overflow-x: hidden;

  .bg-image {
    background-image: url("../Images/og-image.png");
    filter: brightness(80%) opacity(90%);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
  }
  
  .login-col {
    height: 90vh;
  }

  img {
    width: 200px;
    object-fit: contain;
  }

  .login {
    background-color: white;
  }

  .text-brand {
    color: #4FA9DD;
  }

  .btn {
    background-color: #F30098;
    color: white;
    border: none;

    &:hover {
      background-color: #da0f8c;
    }
  }
}