.login-bg {
  background-image: url("../Images/og-image.png");
  background-size: cover;
  background-position: center;

  .login-col {
    height: 100vh;
  }
  img {
    width: 300px;
    //height: 150px;
    object-fit: contain;
  }

  .login {
    background-color: rgba(255, 255, 255, 0.904);

  
  }

  .text-brand {
    color: #4FA9DD;
  }

  .btn {
    background-color: #F30098;
    color: white;
    border: none;

    &:hover {
      background-color: #da0f8c;
    }
  }
}