.neo-nav {
  img {
    width: 100px;
    object-fit: contain;
  }

  .btn-addSchool {
    background-color: #F30098;
    color: white;
    border: none;

    &:hover {
      background-color: #da0f8c;
    }

    &:focus {
      background-color: #da0f8c;
    }

    &:active {
      background-color: #da0f8c;
    }
  }

  a {
    color: unset;

    &:hover {
      color: unset;
    }
  }

  .fa-user-circle-o {
    &:before {
      font-size: xx-large;
      color: #4fa9dd;
    }
  }

}