.schools {
  a{
    color: unset;
    text-decoration: unset;
  }
  .schools-check,
  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-secondary{
    background-color:  #4FA9DD ;
    border: none;
    &:hover{
      background-color: #187cb6;
    }
  }
  .btn-delete {}

  .btn-edit {
    background-color: #4FA9DD;
  }
}