.schools,.table-container {

  .schools-check,
  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-filter {
    background-color: #4FA9DD;
    border-color: #4FA9DD;
    color: white;

    &:hover {
      background-color: #187cb6;
    }
  }

}

.card-container{
  .tier1 {
    background-color: #FF9E32;
  }

  .tier2 {
    background-color: #002E84;
  }

  .tier3 {
    background-color: #FF39B0;
  }

}